<ion-content [fullscreen]="true" class="scroll">
  <div>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabs/home">
        <ion-icon name="arrow-back"></ion-icon>Back
      </ion-back-button>
    </ion-buttons>
  </div>
  <div class="artwork-background">
    <img *ngIf="artwork?.image" [src]="artwork.image" [alt]="artwork.title" />
  </div>

  <ion-card class="custom-ion-card" *ngIf="artwork">
    <ion-card class="custom-card-detail">
      <ion-row>
        <ion-col size="5">
          <ion-card-header>
            <ion-card-subtitle class="subStyle">Highest Bid</ion-card-subtitle>
          </ion-card-header>
          <ion-card class="card-title-detail">
            <ion-card-header class="custom-header">
              <ion-card-subtitle *ngIf="artwork.isAuction">
                P {{ getHighestBid(artwork) }}
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="7">
          <ion-card-header>
            <ion-card-subtitle class="subStyle"
              >Auction Ends In</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card class="card-title-detail">
            <ion-card-header class="custom-header">
              <ion-card-subtitle>{{ countdown }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card-header class="card-content">
      <ion-row>
        <ion-col>
          <ion-list lines="none">
            <ion-item>
              <ion-thumbnail slot="start" *ngIf="getArtist(artwork?.artistID)">
                <img
                  [alt]="getArtist(artwork?.artistID).artistName"
                  [src]="getArtist(artwork?.artistID).image"
                />
              </ion-thumbnail>
              <ion-label
                >{{ getArtist(artwork?.artistID).artistName }}</ion-label
              >
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list lines="none">
            <ion-item>
              <ion-thumbnail slot="start">
                <img [src]="medium?.image" [alt]="medium?.mediumType" />
              </ion-thumbnail>
              <ion-label>{{ medium?.mediumType }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-card-title>{{ artwork.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ artwork.description }}</ion-card-content>

    <ion-item>
      <ion-label position="floating">Enter Value</ion-label>
      <ion-input placeholder="Enter" id="uniqueInputId"></ion-input>
    </ion-item>
    <ion-button expand="block" *ngIf="artwork.isAuction" (click)="placeBid()"
      >Place Bid</ion-button
    >
  </ion-card>
</ion-content>
