<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/seller"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Artwork</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f1="ngForm" (ngSubmit)="onSubmit(f1)">
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Artwork Details</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Select Medium</ion-label>
        <ion-select
          (ionChange)="changeMedium($event)"
          interface="popover"
          name="mediumID"
          ngModel
          #mediumID="ngModel"
          required
        >
          <ion-select-option
            *ngFor="let medium of mediums"
            [value]="medium.mediumID"
            >{{medium?.mediumType}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-text
        color="danger"
        *ngIf="!mediumID.valid && mediumID.touched"
        class="ion-text-center"
      >
        <p class="errorMsg">* Select Medium</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <!-- <ion-icon name="person" slot="start" color="primary"></ion-icon>  -->
        <ion-input
          type="text"
          name="title"
          ngModel
          #title="ngModel"
          placeholder="Title"
          required
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!title.valid && title.touched">
        <p class="errorMsg">* Please enter artwork title</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-input
          type="text"
          name="description"
          ngModel
          #description="ngModel"
          placeholder="Description"
          required
        >
        </ion-input>
      </ion-item>
      <ion-text
        color="danger"
        *ngIf="!description.valid && description.touched"
      >
        <p class="errorMsg">* Please enter Artwork description</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <!-- <ion-icon name="key" slot="start" color="primary"></ion-icon>  -->
        <ion-input
          type="number"
          name="price"
          ngModel
          #price="ngModel"
          placeholder="Price"
          required
          [disabled]="isPrice"
        >
        </ion-input>
      </ion-item>
      <ion-text
        color="danger"
        *ngIf="!price.valid && price.touched"
        class="ion-text-center"
      >
        <p class="errorMsg">* Please enter Artwork Price</p>
      </ion-text>

      <div
        class="itemImage"
        *ngIf="!image || image == ''"
        (click)="changeImage()"
      >
        <ion-icon name="cloud-upload-outline" color="primary"></ion-icon>
        <p>Upload Item Image here</p>
      </div>

      <input
        type="file"
        accept="image/jpeg"
        #filePicker
        (change)="onFileChosen($event)"
      />

      <div
        class="itemImage imageDiv"
        *ngIf="image && image != ''"
        (click)="changeImage()"
      >
        <ion-img [src]="image"></ion-img>
      </div>
    </ion-list>

    <br /><br />

    <!-- Auction details if customer want to auction their arts -->
    <ion-list lines="none">
      <ion-list-header>
        <ion-label> Auction Details</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Set it as Auction</ion-label>
        <ion-toggle
          name="isAuction"
          [(ngModel)]="isAuction"
          checked="false"
          value="true"
          (ionChange)="toggleChanged()"
        ></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime-button
          datetime="datetime"
          name="startDate"
          ngModel
          #startDate="ngModel"
          required
          presentation="date-time"
          [disabled]="!isAuction"
        ></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-text color="danger" *ngIf="!startDate.valid && startDate.touched">
        <p class="errorMsg">* Start Date required</p>
      </ion-text>

      <ion-item>
        <ion-label>Input different price as starting bid??</ion-label>
        <ion-toggle
          name="isPrice"
          [(ngModel)]="isPrice"
          checked="false"
          value="true"
          (ionChange)="onToggleChange()"
        ></ion-toggle>
      </ion-item>

      <ion-item color="light" class="ion-margin-bottom" *ngIf="isPrice">
        <ion-input
          type="number"
          name="startingBid"
          [(ngModel)]="startingBid"
          placeholder="Starting Bid"
          required
          min="0"
          minlength="1"
        >
        </ion-input>
      </ion-item>
      <ion-text
        color="danger"
        *ngIf="!isPrice && startingBid === null"
        class="ion-text-center"
      >
        <p class="errorMsg">* Starting Bid Required.</p>
      </ion-text>
    </ion-list>

    <br /><br />

    <ion-button
      *ngIf="!isLoading"
      [disabled]="!f1.valid"
      expand="block"
      shape="round"
      type="submit"
      color="primary"
    >
      POST
    </ion-button>
    <ion-button
      *ngIf="!isLoading"
      [disabled]="!f1.valid"
      expand="block"
      shape="round"
      type="submit"
      color="primary"
    >
      CANCEL
    </ion-button>

    <div class="ion-text-center" *ngIf="isLoading">
      <ion-button shape="round" color="primary" [disabled]="!f1.valid">
        <ion-spinner name="circles"></ion-spinner>
      </ion-button>
    </div>
  </form>
</ion-content>
