<ion-item *ngIf="artwork" lines="none">
  <ion-thumbnail slot="start">
    <img
      [src]="artwork?.image ? artwork.image : 'assets/images/art1.jpg'"
      alt=""
    />
  </ion-thumbnail>
  <ion-row>
    <ion-col>
      <ion-label>
        <h4>{{ getData(artwork?.artistID) }}</h4>
        <ion-text color="medium">
          <p class="pStyle">{{ artwork?.title }}</p>

          <ng-container *ngIf="isAuction(artwork); else fixedPriceContent">
            <p>Starting Bid: P{{ artwork?.price }}</p>
            <ion-text color="tertiary">
              <p class="distance">Current Bid: {{ getHighestBid(artwork) }}</p>
            </ion-text>
          </ng-container>

          <ng-template #fixedPriceContent>
            <ion-row>
              <ion-col>
                <ion-text color="tertiary">
                  <p class="distance">Price: P{{ artwork.price }}</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ng-template>
        </ion-text>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-item>
