<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img
      [src]="artwork?.image ? artwork.image : 'assets/images/art1.jpg'"
      alt=""
    />
  </ion-thumbnail>
  <ion-label>
    <h4>{{ getData(artwork?.artistID) }}</h4>
    <ion-text color="medium">
      <p class="pStyle">{{ artwork?.title }}</p>
      <p>Auction Status: Ended</p>
      <ion-text color="tertiary">
        <p class="time">Ended: {{ artwork?.endTime | date : "short" }}</p>
      </ion-text>
    </ion-text>
  </ion-label>
</ion-item>
